# Google files
credentials.json
token.json

# Project Files
messages.sqlite3*
messages.csv

temp_*
.env
venv/
*egg-info/
.nox/
.coverage
.coverage.*
coverage.xml
coverage.json
htmlcov/
build/
dist/
__pycache__/
.vscode/
